*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1000px;
    margin-top: 50px;
}
img{
    margin-bottom: 20px;
}
.row{
    margin-top: 5px;
    button{
        margin-top: 10px;
        background-color: black;
        border: none;
    }
    button:hover{
        background-color: #6b011f;
    }
    .col-sm-6{
        input::placeholder{
            color: red;
        }
    }
}
nav{
    background-color: #6b011f;
    ul{
        li{
            a{
                color: white;
            }
            a:hover{
                color: white;
            }
        }
    }
}
p{
    width: 1000px;
    margin: 0 auto;
    padding: 50px;
}